.nav-item  {
  width: 3.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 1rem;

}

.nav-link {
  display: flex;
  align-items: center;
  height: inherit;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.nav-item:hover {
  height: 3rem;
  cursor: pointer;
  background-color: rgba(37,37,65, 1) !important;
}

.nav-item:hover p {
  color: #f7ff01 !important;
}


.link-text {
  display: none;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .link-text {
    display: none;
  }

  .nav-item  {
    flex-direction: row;
  }
}