.nav-item  {
  width: 3.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 1rem;

}

.nav-link {
  display: flex;
  align-items: center;
  height: inherit;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 0.2s;
  color: white;
}

.nav-item:hover {
  height: 3rem;
  cursor: pointer;
  background-color: #506984 !important;
}

.navbar:hover .nav-item:hover svg {
  color: rgb(255, 255, 255) !important;
}

.link-text {
  display: none;
  align-items: flex-start;
}