.nav-content {
    margin-top: 2rem;
}

.navbar {
    top: 0;
    left: 0;
    z-index: 1000;
    width: 5rem;
    height: 100vh;
    position: fixed;
    border: 1px solid black;
    background-color: #506984;
    transition: all ease-in-out 300ms;
}


.navbar:hover .nav-item svg {
    justify-self: flex-end;
    transition: 500ms ease-in-out;
    transform: rotate(-360deg);
    color: rgb(255, 255, 255) !important;
}

.navbar:hover .link-text {
    transition: ease-in-out all 500ms;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    color: rgb(255, 255, 255) !important;
    font-weight: bolder;
}

.navbar:hover {
    background-color: rgba(248, 243, 243, 0.5); /* #58708f;rgba(200, 79, 221,0.5)*/
    width: 20rem;
    border-right: #506984 7px solid;
    transition: ease-in-out all 0.2s;
    box-shadow: 1px 1px 100px 1px black;
}

.navbar:hover .nav-item {
    margin-top :1px;
    width: 18rem;
    border-color:  rgba(37,37,65, 0.65);
    border-radius: 10px;
    transition: all ease 400ms;
    height: 3rem;
    background-color: rgba(37,37,65, 0.65);
}

/*TBH apply on the active navitem*/
.navbar:hover .nav-item:first-child {
    width: 50%;
    transition: width 800ms;
    min-width: inherit;
}

.navbar:hover .nav-link {
    margin-left: auto;
    margin-right: 1rem;
}


@media (max-width: 700px) {
    .navbar {
        bottom: 0 !important;
        top: auto;
        left: auto;
        width: 100%;
        height: 3rem;
        position: -ms-device-fixed;
    }
    .navbar:hover {
        height: 100%;
        width: 100%;
    }
    .navbar:hover .nav-item {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar:hover .nav-item:first-child{
        background-color: #506984;
        width: 18rem;
    }

}